<h1>Listings I follow</h1>

<a href="/myProfile">My Profile</a>
<% listingsData.forEach(singleListing => { %>
    <div style="background:lightgray">
        <p><%= singleListing.listingTitle %> </p>
        <p><%= singleListing.listingDescription %> </p>
        <p><%= singleListing.price %>DDK </p>
        <p><%= singleListing.productCondition %> </p>
        <p><%= singleListing.city %> </p>
        <p>Seller: <%= singleListing.username %> </p>
        <p><%= singleListing.telephoneNumber %> </p>
        <p><%= singleListing.email %> </p>
        <p><%= singleListing.listingPosted %> </p>
        <img src="<%= singleListing.listingPictureURL %>" alt="something went wrong when loading the image" width="500" height="500">
        <br>    
    </div>
    <br>
    <br>
    <br>
    
<% }) %>