<h1>My listings</h1>
<h2><%= usernameDisplay%></h2>
<a href="/myProfile">my Profile</a>

<br>

<table>
    <tr>  
        <td> listingTitle </td>
        <td> listingDescription  </td>
        <td> price  </td>
        <td> productCondition  </td>
        <td> city  </td>
        <td> listingPosted  </td>
    </tr>
    <% listings.forEach(row => {  %>  
     <tr>  
        <td> <%= row.listingTitle %> </td>
        <td> <%= row.listingDescription %> </td>
        <td> <%= row.price %> </td>
        <td> <%= row.productCondition %> </td>
        <td> <%= row.city %> </td>
        <td> <%= row.listingPosted %> </td>

        <td><a href="/myProfile/myListings/<%=row.listingID%>">update this listing</a></td>
    </tr> %>
    <% }) %>
</table>


