<h1>My listings</h1>
<h2><%= usernameDisplay%></h2>
<a href="/myProfile">my Profile</a>

<br>

<% listings.forEach(singleListing => { %>
    <div style="background:brown">
        <td><a href="/myProfile/myListings/<%=singleListing.listingID%>">update this listing</a></td>
        <p><%= singleListing.listingTitle %> </p>
        <p><%= singleListing.listingDescription %> </p>
        <p><%= singleListing.price %>DDK </p>
        <p><%= singleListing.productCondition %> </p>
        <p><%= singleListing.city %> </p>
        <p>Seller: <%= singleListing.username %> </p>
        <p><%= singleListing.telephoneNumber %> </p>
        <p><%= singleListing.email %> </p>
        <p><%= singleListing.listingPosted %> </p>
        <img src="<%= singleListing.listingPictureURL %>" alt="something went wrong when loading the image">
    </div>
    <br>
    <br>
    <br>
    
<% }) %>